doctype html
html
  head
    meta(charset="utf-8")
    title collaborate!
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous")
    link(rel="stylesheet" href="./index.css" type="text/css")

body
  .main
    .hero.is-dark(style="background-color: #76A6AC;")
      .hero-body
        .container
          img(alt="collaborate" src="assets/logo.svg" width="900px")
          h1.title Get on the same page

    .section
      .container
        h1.title Create a room!
        .field.has-addons
          p.control
            button.button.is-large.is-static https://collaborate-app.herokuapp.com/
          .control.has-icons-left
            input.input.is-large(type="text" value=room onkeypress="return keypress(event)")
            span.icon.is-medium.is-left
              i.fa.fa-pencil
          p.control
            button.button.is-large.is-primary(onclick="start()") Let's Go!

  script.
    function keypress(e) {
      if (e.keyCode === 13) {
        start();
        e.preventDefault();
      }
    }
    function start() {
      room = document.querySelector("input").value;
      window.location = window.location.origin + '/' + room;
    }
    var input = document.querySelector("input");
    input.focus();
    input.select();
