img {
  pointer-events: none;
}

div:not(.react-draggable-dragging) {
  transition: transform 0.2s;
}

button.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
