body {
  background: url('assets/tile background.png') repeat;
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
}

code, pre {
  font-family: 'Source Code Pro', monospace;
}

.main h1 {
  margin: 20px 0;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

pre code {
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: #888 0 0 8px;
  z-index: 101;
}

.navbar-item {
  display: inline-block;
}

.workspace {
  width: 100vw;
  overflow: scroll;
  margin-top: 3.25rem;
}

.tile {
  user-select: none;
}

.react-draggable:not(.react-draggable-dragging) {
  transition: transform 0.2s;
}

.tile button.close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.tile div.tile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  z-index: 2;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  transition: opacity 200ms;
}

.tile:hover .tile-info {
  opacity: 1;
}

.tile.locked div.tile-info{
  display: none;
}

.tile button.close-button > span {
  display: block;
  margin-top: -2px;
}

.tile.locked button.close-button {
  display: none;
}

.annotation {
  cursor: url(assets/brushCursor.png) 3 29, crosshair;
}

.dropdown {
  box-shadow: 0 0 4px #777;
  display: block;
  left: 0;
  position: absolute;
  top: 100%;
 }

.pen-colours {
  display: inline-block;
  width:50px;
  height:50px;
}
.pen-colours.black { background-color: black; }
.pen-colours.red { background-color: red; }
.pen-colours.green { background-color: green; }
.pen-colours.blue { background-color: blue; }
.pen-colours.yellow { background-color: yellow; }

.tile {
  padding: 10px;
  height: 100%;
}

.tile-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.tile.image, .tile.youtube, .tile.pdf {
  padding: 0;
}

.tile.text .preview {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background: white;
  width: 100%;
  height: 100%;
}

.tile.text .textarea {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  border: none;
  box-shadow: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.tile.pdf {
  overflow: hidden;
}

.tile.pdf canvas {
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity 100ms;
}

.tile.pdf .peeling-left.turning canvas {
  left: 100%;
  opacity: 0;
  transition: left 100ms linear, opacity 0ms linear 100ms;
}

.tile.pdf .peeling-right.turning canvas {
  left: -100%;
  opacity: 0;
  transition: left 100ms linear, opacity 0ms linear 100ms;
}

.peel {
  width: 0;
  height: 0;
  position: absolute;
  bottom:0;
  transition: all 500ms;
}

.peel.peeling-left, .peel.peeling-right {
  width: 50px;
  height: 50px;
}

.peel.peeling-left {
  left:0;
  background :
          linear-gradient(
                  45deg,
                  #fff,
                  #f3f3f3 45%,
                  #ddd 50%,
                  #aaa 50%,
                  #bbb 56%,
                  #ccc 62%,
                  #f3f3f3 80%,
                  #fff 100%
          );
}
.peel.peeling-right {
  right:0;
  background :
          linear-gradient(
                  -45deg,
                  #fff,
                  #f3f3f3 45%,
                  #ddd 50%,
                  #aaa 50%,
                  #bbb 56%,
                  #ccc 62%,
                  #f3f3f3 80%,
                  #fff 100%
          );
}

.peel.peeling-left:before,
.peel.peeling-left:after {
  box-shadow: 0 -24px 30px rgba(0, 0, 0, .3);
}
.peel.peeling-right:before,
.peel.peeling-right:after {
  box-shadow: 0 -24px 30px rgba(0, 0, 0, .3);
}

.peel.peeling-left:before,
.peel.peeling-left:after,
.peel.peeling-right:before,
.peel.peeling-right:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 -12px 15px rgba(0, 0, 0, .3);
  transform: skew(-10deg) rotate(-6deg);
}

.peel.peeling-left:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}
.peel.peeling-right:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}

.joyride-tooltip__close {
  display: none;
}

.user-list {
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 100;
}

.user {
  margin: 5px;
  height: 50px;
  border-radius: 30px;
  background: #ffffff;
  max-width: 50px;
  overflow: hidden;
  transition: max-width 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  vertical-align: middle;
  pointer-events: auto;
  border: 3px solid transparent;
}

.user-name {
  display: none;
  margin: 0 15px;
}

.user:hover {
  max-width: 300px;
}

.user-photo:hover + .user-name {
  display: inline-block;
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;
  transition: transform 0.2s;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #76A6AC; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;

    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:100%;
    max-height:100%;
    overflow:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.page-number{
  opacity: 0;
  position: absolute; 
  z-index: 2; 
  right: 0;
}

.tile:hover .page-number {
  opacity: 1;
}

.upload {
  position: fixed;
  bottom: 1rem;
  left: 4.5rem;
  right: 4.5rem;
  width: auto;
}

.upload .progress {
  height: 1.5rem;
  z-index: 100;
}
